@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;600&display=swap');
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body { 
    color: #2e362e;
    font-family: 'Mukta', sans-serif;
    height: 100vh;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}