.badge {
    background-color: tomato;
    width: 20px;
    height:20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}

.badge__dot__mother {
    position: relative;
}
.badge__dot {
    background-color: tomato;
    width: 5px;
    height:5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}