.icon-row {
    display: flex;
    justify-content: space-between;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.icon-row__icon i {
    font-size: 30px;
}

.icon-row__icon span {
    margin-top: 15px;
}