#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--black);
}

@media screen and (max-width:600px) {
    #no-mobile {
        display: none;
    }
}