.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--horizontal-space);
    padding-top: 40px;
    margin-bottom: 20px;
}

.screen-header__title {
    font-size: 36px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}

.screen-header__notification__dot {
    left: 3px;
    top: -3px;
}